<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{'SavedSearches.title' | translate  }}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>



<div class="modal-body">
  <!--
  @if(errorMessage) {
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  }
  -->
<form >
  <h5>{{ 'SavedSearches.saveCurrent' | translate }}</h5>
  @if(errorMessage) {
    <div class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
  }
  <div class="row mb-4">
    <div class="col-9">
      <input type=text class="form-control" id="searchName" [formControl]="savedSearchNameForm" placeholder="Name">
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="savedSearchNameForm.invalid" (click)="saveCurrentSearchForm()">
        {{'common.save' | translate}}</button>
    </div>
  </div>
</form>
  <hr/>
<div>
  <h5>{{ 'SavedSearches.savedMasks' | translate }}</h5>
  @if(!savedSearchesLoading) {
    <div class="row">
    <table class="table table-hover">

      <thead>
      <tr class="border-bottom">
        <th scope="col" style="padding-left: 0.8rem;">{{ 'SavedSearches.name' | translate }}</th>
        <th scope="col">{{ 'MetadataFields.dateModified' | translate }}</th>
        <th scope="col">{{ 'SavedSearches.copyLinkHeader' | translate }}</th>
        <th scope="col">{{ 'SavedSearches.actions' | translate }}</th>
      </tr>
      </thead>

      <tbody>
        @for (savedSearch of savedSearches; track savedSearch; let i = $index;) {
          <tr class="border-bottom" style="line-height: 3rem;">
            <td scope="row" class="text-break">
              <button class="btn btn-link text-start" (click)="applySearchFromHistory(i)">{{ savedSearch.name + ' '}}</button>
            </td>
            <td>
              {{savedSearch.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td>
              <button class="btn btn-sm btn-primary me-2 opacity-75" pureCopyButton [textToCopy]="getSavedSearchLinkMask(savedSearch.objectId!)"> {{'SavedSearches.mask' | translate}}</button>
              <button class="btn btn-sm btn-primary me-2 opacity-75" pureCopyButton [textToCopy]="getSavedSearchLinkResults(savedSearch.objectId!)"> {{'SavedSearches.result' | translate}}</button>

            <td>
              <button class="btn btn-sm btn-warning me-2 opacity-75" (click)="updateSavedSearch(i)" [ngbTooltip]="'SavedSearches.update' | translate"><span class="material-symbols-outlined">change_circle</span></button>
              <button class="btn btn-sm btn-danger opacity-75" (click)="deleteSavedSearch(i)" [ngbTooltip]="'SavedSearches.delete' | translate"><i class="bi bi-trash"></i></button>

            </td>
          </tr>
        }
      </tbody>
    </table>
    </div>
    <!--
  @for (savedSearch of savedSearches; track savedSearch; let i = $index;) {
    <div class="row mb-2">
      <div class="col-6 text-break">
        <button class="btn btn-link text-start" (click)="applySearchFromHistory(i)">{{ savedSearch.name + ' '}}</button>
      </div>
      <div class="col-3">
        {{savedSearch.creationDate | date:'yyyy-MM-dd HH:mm:ss'}}
      </div>
      <div class="col-3">
        <button class="btn btn-sm btn-primary me-2" pureCopyButton [textToCopy]="getSavedSearchLinkMask(savedSearch.objectId!)"></button>
        <button class="btn btn-sm btn-primary me-2" pureCopyButton [textToCopy]="getSavedSearchLinkResults(savedSearch.objectId!)"></button>
        <button class="btn btn-sm btn-warning me-2" (click)="updateSavedSearch(i)" [ngbTooltip]="'SavedSearches.update' | translate"><span class="material-symbols-outlined">change_circle</span></button>
        <button class="btn btn-sm btn-danger" (click)="deleteSavedSearch(i)" [ngbTooltip]="'SavedSearches.delete' | translate"><i class="bi bi-trash"></i></button>
      </div>
    </div>


  }
  -->
  } @else {
    <pure-loading></pure-loading>
  }
</div>




</div>

